<nid-map></nid-map>
<mat-toolbar color="primary">
    <div class="navbar-button-container">
        <button mat-icon-button (click)="openDialog()">
            <mat-icon>pets</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>location_on</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
    </div>
</mat-toolbar>
<!-- <nid-report-dialog [open]="open"></nid-report-dialog> -->
<!-- <nid-report-dialog [(open)]="open"></nid-report-dialog> -->
<nid-report-dialog [open]="open" (openChange)="open=$event"></nid-report-dialog>